In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (10, 8)
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import collections
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [39]:
cmp_df = pd.read_csv('cmp.csv', sep=';')

In [40]:
cmp_df = cmp_df.drop_duplicates('ID')

In [41]:
cmp_df

,COMPANY_TYPE,EMPLOYEES,ID,INDUSTRY,REVENUE,TITLE
0,CUSTOMER,EMPLOYEES_1,3,IT,0.0,Коммаш
1,CUSTOMER,EMPLOYEES_2,5,GOVERNMENT,0.0,Управление делами Губернатора и Правительства ...
2,CUSTOMER,EMPLOYEES_2,13,IT,0.0,"ООО ""Интерсвязь-10"""
3,CUSTOMER,EMPLOYEES_1,43,IT,0.0,ООО «КСБ Групп»
4,3,EMPLOYEES_1,59,IT,0.0,ООО «1С-Битрикс»
5,CUSTOMER,EMPLOYEES_1,119,3,0.0,ИП Морозова Людмила Николаевна skikross.ru
6,1,EMPLOYEES_1,167,3,0.0,ООО «Дайвер»
7,CUSTOMER,EMPLOYEES_1,169,3,0.0,ООО «ЭМИР–НН»
8,CUSTOMER,EMPLOYEES_1,181,5,0.0,ИП Горшенин Артем Андреевич
9,CUSTOMER,EMPLOYEES_1,195,3,0.0,"ООО ""ОРИОН РТИ"""
10,PARTNER,NaN,197,IT,NaN,ООО «Артикул Продакшн»
11,CUSTOMER,EMPLOYEES_1,767,3,0.0,ООО «ФОРТЕ ЛТД»
12,2,EMPLOYEES_1,771,3,0.0,ООО ТК «Инструмент-Импорт»
13,CUSTOMER,EMPLOYEES_1,775,3,0.0,ИП Коцюба Дмитрий Сергеевич
14,CUSTOMER,EMPLOYEES_1,783,5,0.0,ИП Мироновский Сергей Николаевич
15,CUSTOMER,EMPLOYEES_1,803,3,0.0,ООО «УГМК-Телеком»
16,CUSTOMER,EMPLOYEES_1,813,3,0.0,ООО «Интернет Технологии»
17,CUSTOMER,EMPLOYEES_1,823,3,0.0,ООО «Экспо-Линк»
18,CUSTOMER,NaN,825,3,0.0,"ООО ""Яна Флауэрс"""
19,CUSTOMER,EMPLOYEES_1,5489,3,0.0,ООО «Пожкомплект»
20,CUSTOMER,EMPLOYEES_1,27647,3,0.0,ИП Нехаенко Олег Александрович
21,CUSTOMER,NaN,29623,3,NaN,ООО «Академия Почемучки»
22,CUSTOMER,EMPLOYEES_1,29627,3,0.0,ИП Якубова Наталья Анатольевна
23,CUSTOMER,EMPLOYEES_1,29637,3,0.0,ООО НПП «Учтех-Профи»
24,CUSTOMER,EMPLOYEES_1,29661,3,0.0,ООО «Фабрика кофе»
25,CUSTOMER,EMPLOYEES_1,29665,3,0.0,ИП Янкина Ирина Михайловна
26,2,EMPLOYEES_1,29669,3,0.0,"ООО ""Умница-Пресс"""
27,2,EMPLOYEES_1,29671,3,0.0,"ООО ""Игромаркет"""
28,OTHER,EMPLOYEES_1,29673,IT,0.0,"ООО ""Центр Автоматизации Учета"" (Первый БИТ)"
29,2,EMPLOYEES_1,29675,3,0.0,"ООО ""Энергия времени"""
...,...,...,...,...,...,...
163,CUSTOMER,NaN,45058,3,0.0,ПК Прайд
164,1,EMPLOYEES_1,45060,3,0.0,ИП Пискунов А.А.
165,CUSTOMER,EMPLOYEES_1,45062,3,0.0,ООО «Фирма Каскад»
166,CUSTOMER,NaN,45068,3,0.0,Центр Аттестации и экспертизы (ИП Темичев)
167,CUSTOMER,EMPLOYEES_1,45084,3,0.0,ООО “Князь Пюрешкин”
168,CUSTOMER,EMPLOYEES_1,45098,3,0.0,Автозакуп
169,CUSTOMER,EMPLOYEES_1,45100,3,0.0,УралСпецМаш (Миасс)
170,NaN,NaN,45112,NaN,NaN,Создаватель (тестовый заказ #5)
171,CUSTOMER,EMPLOYEES_1,45136,3,0.0,ООО НПЦ «РИЦ»
172,CUSTOMER,EMPLOYEES_1,45156,3,0.0,ООО Ева
173,CUSTOMER,EMPLOYEES_1,45172,3,0.0,ИП Кочкин В.В.
174,CUSTOMER,EMPLOYEES_1,45180,3,0.0,ЧелябЭкоПродукт
175,CUSTOMER,EMPLOYEES_1,45191,3,0.0,ГБУЗ «ССМП г. Коркино»
176,NaN,NaN,45267,NaN,NaN,Экозима
177,CUSTOMER,EMPLOYEES_1,45278,3,0.0,ИП Пак Виталий Владимирович
178,CUSTOMER,EMPLOYEES_1,45282,3,0.0,ИП Ершков А.А.
179,CUSTOMER,EMPLOYEES_1,45293,3,0.0,ИП Козлитин Геннадий Петрович
180,CUSTOMER,EMPLOYEES_1,45300,3,0.0,Центр базисных поставок
181,CUSTOMER,EMPLOYEES_1,45302,3,0.0,"Центр Технического Обслуживания ""СОФТ КАСС"""
182,CUSTOMER,EMPLOYEES_1,45304,3,0.0,Индивидуальный предприниматель Марченков Андре...
183,CUSTOMER,NaN,45316,3,0.0,"ООО ""Платинум"""
184,NaN,NaN,45322,NaN,NaN,ИП Модвал Любовь Васильевна
185,CUSTOMER,NaN,45326,3,0.0,ООО Терма
186,CUSTOMER,EMPLOYEES_1,45328,3,0.0,ИП Годжаева Ч.А.
187,CUSTOMER,EMPLOYEES_1,45342,3,0.0,ООО «МФК ТЕХЭНЕРГО»
188,CUSTOMER,NaN,45960,3,0.0,Азума
189,CUSTOMER,NaN,45972,3,0.0,ИП Колганов А.С.
190,CUSTOMER,NaN,45974,3,0.0,Студия камня (ИП Билан Ю.К.)
191,CUSTOMER,NaN,45982,3,0.0,Робин Бобин
192,CUSTOMER,EMPLOYEES_1,45986,3,0.0,"ООО ""НайсУан"""

In [42]:
deal_df = pd.read_csv('deal.csv', sep=';')

In [43]:
deal_df

,BEGINDATE,CLOSED,CLOSEDATE,COMPANY_ID,ID,OPPORTUNITY,PROBABILITY
0,2013-04-09T03:00:00+04:00,Y,2013-04-14T03:00:00+04:00,3,7,1078.0,100.0
1,2015-03-31T03:00:00+03:00,Y,2015-05-23T03:00:00+03:00,3,2509,4350.0,0.0
2,2018-07-16T03:00:00+03:00,N,2018-08-01T03:00:00+03:00,3,14014,2000.0,NaN
3,2013-06-09T03:00:00+04:00,Y,2013-06-16T03:00:00+04:00,5,9,30000.0,80.0
4,2015-04-07T03:00:00+03:00,Y,2015-11-19T03:00:00+03:00,5,2565,89940.0,0.0
5,2015-09-07T03:00:00+03:00,Y,2018-02-13T03:00:00+03:00,5,4888,11600.0,0.0
6,2015-12-03T03:00:00+03:00,Y,2016-01-11T03:00:00+03:00,5,6414,168200.0,0.0
7,2016-06-03T03:00:00+03:00,Y,2016-11-15T03:00:00+03:00,5,7874,0.0,0.0
8,2016-12-06T03:00:00+03:00,Y,2018-02-13T03:00:00+03:00,5,7950,29000.0,0.0
9,2017-09-04T03:00:00+03:00,Y,2017-09-11T03:00:00+03:00,5,11976,40950.0,50.0
10,2018-05-28T03:00:00+03:00,Y,2018-06-04T03:00:00+03:00,5,13515,0.0,NaN
11,2013-10-15T03:00:00+04:00,Y,2013-10-22T03:00:00+04:00,13,53,273600.0,100.0
12,2013-10-28T03:00:00+04:00,Y,2013-11-04T03:00:00+04:00,13,101,78500.0,90.0
13,2014-04-09T03:00:00+04:00,Y,2015-11-26T03:00:00+03:00,13,663,30000.0,100.0
14,2014-06-19T03:00:00+04:00,Y,2014-06-26T03:00:00+04:00,13,995,50550.0,50.0
15,2014-06-19T03:00:00+04:00,Y,2014-06-26T03:00:00+04:00,13,997,56300.0,0.0
16,2014-08-18T03:00:00+04:00,Y,2014-08-25T03:00:00+04:00,13,1273,46550.0,0.0
17,2014-08-31T03:00:00+04:00,Y,2015-12-14T03:00:00+03:00,13,1349,82920.0,0.0
18,2013-10-15T03:00:00+04:00,Y,2013-10-22T03:00:00+04:00,13,1557,39900.0,100.0
19,2014-11-11T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,1689,7450.0,50.0
20,2014-12-18T03:00:00+03:00,Y,2016-10-07T03:00:00+03:00,13,1857,50000.0,0.0
21,2014-12-18T03:00:00+03:00,Y,2015-07-28T03:00:00+03:00,13,1859,40000.0,0.0
22,2015-01-14T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,1907,10500.0,0.0
23,2015-01-16T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,1955,11550.0,0.0
24,2015-01-19T03:00:00+03:00,Y,2015-06-01T03:00:00+03:00,13,1985,233575.0,0.0
25,2015-02-12T03:00:00+03:00,Y,2015-04-28T03:00:00+03:00,13,2155,29000.0,0.0
26,2015-02-19T03:00:00+03:00,Y,2015-12-21T03:00:00+03:00,13,2195,56700.0,100.0
27,2015-03-24T03:00:00+03:00,Y,2015-08-05T03:00:00+03:00,13,2439,50000.0,0.0
28,2015-01-14T03:00:00+03:00,Y,2015-08-05T03:00:00+03:00,13,2625,15750.0,0.0
29,2015-01-16T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,3341,4200.0,0.0
...,...,...,...,...,...,...,...
1207,2018-04-10T03:00:00+03:00,N,2018-08-15T03:00:00+03:00,45136,13062,104550.0,NaN
1208,2018-08-08T03:00:00+03:00,N,2018-08-20T03:00:00+03:00,45136,14077,24500.0,NaN
1209,2018-09-13T03:00:00+03:00,N,2018-10-11T03:00:00+03:00,45136,14147,6562.5,NaN
1210,2018-10-02T03:00:00+03:00,Y,2018-10-09T03:00:00+03:00,45136,14201,0.0,NaN
1211,2018-10-09T03:00:00+03:00,N,2018-10-22T03:00:00+03:00,45136,14216,5250.0,NaN
1212,2018-10-29T03:00:00+03:00,N,2018-11-05T03:00:00+03:00,45136,14256,0.0,NaN
1213,2018-04-20T03:00:00+03:00,Y,NaN,45172,13126,10000.0,NaN
1214,2018-06-15T03:00:00+03:00,N,2018-06-22T03:00:00+03:00,45180,13819,24900.0,NaN
1215,2018-05-18T03:00:00+03:00,Y,2018-05-25T03:00:00+03:00,45191,13339,0.0,NaN
1216,2018-06-14T03:00:00+03:00,Y,2018-06-21T03:00:00+03:00,45267,13809,7800.0,NaN
1217,2018-06-04T03:00:00+03:00,N,2018-07-09T03:00:00+03:00,45282,13708,24900.0,NaN
1218,2018-07-10T03:00:00+03:00,Y,2018-07-17T03:00:00+03:00,45282,13986,29250.0,NaN
1219,2018-06-27T03:00:00+03:00,Y,2018-07-04T03:00:00+03:00,45293,13898,0.0,NaN
1220,2018-08-02T03:00:00+03:00,Y,2018-08-09T03:00:00+03:00,45293,14062,0.0,NaN
1221,2018-07-05T03:00:00+03:00,N,2018-07-12T03:00:00+03:00,45300,13948,24900.0,NaN
1222,2018-08-06T03:00:00+03:00,N,2018-09-30T03:00:00+03:00,45300,14067,35000.0,NaN
1223,2018-07-05T03:00:00+03:00,N,2018-08-24T03:00:00+03:00,45300,14187,49800.0,NaN
1224,2018-07-11T03:00:00+03:00,N,NaN,45316,14004,102225.0,NaN
1225,2018-07-01T03:00:00+03:00,N,2018-07-31T03:00:00+03:00,45322,13912,30000.0,100.0
1226,2018-06-01T03:00:00+03:00,N,2018-11-01T03:00:00+03:00,45326,13665,48750.0,NaN
1227,2018-07-31T03:00:00+03:00,N,2018-10-10T03:00:00+03:00,45326,14050,24990.0,NaN
1228,2018-11-01T03:00:00+03:00,N,2018-11-30T03:00:00+03:00,45326,14199,73200.0,NaN
1229,2018-09-04T03:00:00+03:00,N,2018-09-11T03:00:00+03:00,45342,14136,31200.0,NaN
1230,2018-11-28T03:00:00+03:00,N,2018-12-05T03:00:00+03:00,45342,14335,0.0,NaN
1231,2018-10-09T03:00:00+03:00,N,2018-11-14T03:00:00+03:00,45960,14214,48750.0,NaN
1232,2018-11-22T03:00:00+03:00,N,2018-11-29T03:00:00+03:00,45960,14321,98975.0,NaN
1233,2018-10-16T03:00:00+03:00,N,NaN,45972,14230,77350.0,NaN
1234,2018-10-25T03:00:00+03:00,N,2018-11-12T03:00:00+03:00,45974,14246,24900.0,NaN
1235,2018-10-31T03:00:00+03:00,N,NaN,45982,14268,0.0,NaN
1236,2018-11-02T03:00:00+03:00,N,2018-11-09T03:00:00+03:00,45986,14282,5950.0,NaN

In [44]:
inv_df = pd.read_csv('inv.csv', sep=';')

In [45]:
inv_df

,DATE_BILL,DATE_PAYED,DATE_PAY_BEFORE,PAYED,PRICE,STATUS_ID,UF_COMPANY_ID
0,2013-07-18T03:00:00+04:00,2016-10-18T07:26:24+03:00,NaN,N,38525.0,P,13
1,2013-08-21T03:00:00+04:00,2013-08-28T09:08:40+04:00,NaN,Y,3800.0,P,43
2,2013-09-16T03:00:00+04:00,NaN,NaN,N,50000.0,D,59
3,2013-07-18T03:00:00+04:00,2013-11-05T10:59:44+04:00,NaN,Y,38525.0,P,13
4,2013-07-18T03:00:00+04:00,2013-11-05T10:58:54+04:00,NaN,Y,74550.0,P,13
5,2013-10-27T03:00:00+04:00,2013-11-05T10:52:49+04:00,NaN,Y,19000.0,P,13
6,2013-10-27T03:00:00+04:00,2013-12-13T14:21:53+04:00,NaN,Y,59500.0,P,13
7,2013-11-07T03:00:00+04:00,2013-11-12T15:27:30+04:00,NaN,Y,3948.0,P,119
8,2013-11-17T03:00:00+04:00,2013-12-25T08:25:05+04:00,NaN,Y,74550.0,P,13
9,2013-11-17T03:00:00+04:00,2013-12-03T19:34:45+04:00,NaN,Y,44175.0,P,13
10,2013-12-03T03:00:00+04:00,2013-12-13T09:26:38+04:00,NaN,Y,4500.0,P,43
11,2013-12-12T03:00:00+04:00,2014-08-05T14:23:56+04:00,NaN,Y,44175.0,P,13
12,2013-12-12T03:00:00+04:00,2013-12-25T08:24:41+04:00,NaN,Y,80275.0,P,13
13,2013-12-16T03:00:00+04:00,2013-12-18T11:02:01+04:00,NaN,Y,28000.0,P,169
14,2014-01-13T03:00:00+04:00,2014-01-28T10:06:17+04:00,NaN,Y,875.0,P,119
15,2014-01-13T03:00:00+04:00,2014-01-28T10:06:36+04:00,NaN,Y,12350.0,P,181
16,2014-01-13T03:00:00+04:00,2014-01-28T10:06:43+04:00,NaN,Y,1050.0,P,181
17,2014-02-09T03:00:00+04:00,2014-02-12T10:00:22+04:00,NaN,Y,8500.0,P,181
18,2014-02-11T03:00:00+04:00,2014-02-13T08:20:24+04:00,NaN,Y,13900.0,P,195
19,2014-02-11T03:00:00+04:00,2014-02-13T08:19:46+04:00,NaN,Y,20550.0,P,195
20,2014-02-13T03:00:00+04:00,2014-03-04T11:19:14+04:00,NaN,Y,68000.0,P,197
21,2014-02-19T03:00:00+04:00,2014-02-21T15:48:02+04:00,NaN,Y,27900.0,P,767
22,2014-02-25T03:00:00+04:00,NaN,NaN,N,16000.0,D,169
23,2014-02-25T03:00:00+04:00,2014-08-05T14:29:55+04:00,NaN,Y,6138.0,P,169
24,2014-02-27T03:00:00+04:00,2014-04-01T09:35:59+04:00,NaN,Y,56900.0,P,775
25,2014-03-05T03:00:00+04:00,2014-03-07T09:34:59+04:00,NaN,Y,24750.0,P,195
26,2014-03-19T03:00:00+04:00,2014-03-25T13:45:30+04:00,NaN,Y,30400.0,P,13
27,2014-03-23T03:00:00+04:00,2014-03-25T13:45:24+04:00,NaN,Y,17565.0,P,783
28,2014-03-23T03:00:00+04:00,2014-03-25T13:45:19+04:00,NaN,Y,1050.0,P,783
29,2014-03-24T03:00:00+04:00,2014-03-26T14:01:48+04:00,NaN,Y,875.0,P,119
...,...,...,...,...,...,...,...
1521,2018-10-30T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,15600.0,N,45342
1522,2018-10-30T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,7800.0,N,29637
1523,2018-11-01T03:00:00+03:00,NaN,2018-11-14T03:00:00+03:00,N,17072.0,D,45293
1524,2018-11-02T03:00:00+03:00,NaN,2018-11-26T03:00:00+03:00,N,7800.0,D,35574
1525,2018-11-02T03:00:00+03:00,2018-11-07T08:24:16+03:00,2018-11-09T03:00:00+03:00,Y,5990.0,P,45282
1526,2018-11-02T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,16500.0,N,44676
1527,2018-11-06T03:00:00+03:00,2018-11-09T10:41:40+03:00,2018-11-07T03:00:00+03:00,Y,48000.0,P,13
1528,2018-11-08T03:00:00+03:00,2018-11-09T08:41:52+03:00,2018-11-08T03:00:00+03:00,Y,3900.0,P,29637
1529,2018-11-09T03:00:00+03:00,2018-11-15T17:00:37+03:00,2018-11-14T03:00:00+03:00,Y,60000.0,P,13
1530,2018-11-13T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,11880.0,N,45033
1531,2018-11-13T03:00:00+03:00,2018-11-14T10:56:40+03:00,2018-11-16T03:00:00+03:00,Y,11880.0,P,45974
1532,2018-11-14T03:00:00+03:00,NaN,2018-11-16T03:00:00+03:00,N,4500.0,D,45024
1533,2018-11-14T03:00:00+03:00,2018-11-15T15:13:02+03:00,2018-11-15T03:00:00+03:00,Y,19125.0,P,45972
1534,2018-11-15T03:00:00+03:00,2018-11-15T15:13:20+03:00,2018-11-15T03:00:00+03:00,Y,19550.0,P,45972
1535,2018-11-16T03:00:00+03:00,2018-11-22T10:12:09+03:00,2018-11-19T03:00:00+03:00,Y,60000.0,P,13
1536,2018-11-18T03:00:00+03:00,2018-11-18T17:59:08+03:00,2018-11-15T03:00:00+03:00,Y,15000.0,P,30610
1537,2018-11-20T03:00:00+03:00,2018-11-30T12:21:43+03:00,2018-11-29T03:00:00+03:00,Y,5950.0,P,45986
1538,2018-11-23T03:00:00+03:00,2018-11-23T10:47:41+03:00,2018-11-23T03:00:00+03:00,Y,17940.0,P,45982
1539,2018-11-26T03:00:00+03:00,2018-11-27T09:20:02+03:00,2018-11-27T03:00:00+03:00,Y,1950.0,P,823
1540,2018-11-29T03:00:00+03:00,2018-11-30T09:57:28+03:00,2018-11-29T03:00:00+03:00,Y,119880.0,P,45960
1541,2018-11-27T03:00:00+03:00,2018-11-30T09:59:11+03:00,2018-11-29T03:00:00+03:00,Y,20000.0,P,45960
1542,2018-11-28T03:00:00+03:00,NaN,2018-12-20T03:00:00+03:00,N,7898.0,N,31206
1543,2018-11-30T03:00:00+03:00,NaN,2018-12-03T03:00:00+03:00,N,43500.0,N,13
1544,2018-12-03T03:00:00+03:00,NaN,NaN,N,7350.0,N,31174
1545,2018-12-03T03:00:00+03:00,NaN,2018-12-21T03:00:00+03:00,N,45675.0,N,13
1546,2018-10-05T03:00:00+03:00,NaN,2018-12-28T03:00:00+03:00,N,22800.0,N,31220
1547,2018-11-14T03:00:00+03:00,NaN,2018-12-11T03:00:00+03:00,N,19125.0,N,45972
1548,2018-11-15T03:00:00+03:00,NaN,2018-12-11T03:00:00+03:00,N,19550.0,N,45972
1549,2018-12-03T03:00:00+03:00,NaN,2018-12-20T03:00:00+03:00,N,78975.0,N,45960
1550,2018-12-03T03:00:00+03:00,NaN,2018-12-28T03:00:00+03:00,N,35000.0,N,30610

In [46]:
quote_df = pd.read_csv('quote.csv', sep=';')

In [47]:
quote_df

,CLOSED,CLOSEDATE,COMPANY_ID,DATE_CREATE,DEAL_ID,ID,OPPORTUNITY,STATUS_ID
0,N,NaN,13,2015-12-29T08:41:00+03:00,6480.0,76,0.0,DRAFT
1,N,NaN,13,2015-12-28T13:44:18+03:00,6498.0,74,27300.0,DRAFT
2,N,2015-12-04T03:00:00+03:00,13,2015-12-01T12:08:02+03:00,5968.0,70,18900.0,RECEIVED
3,Y,2015-10-09T03:00:00+03:00,13,2015-10-06T11:00:05+03:00,5138.0,52,18900.0,DECLAINED
4,Y,2015-10-02T03:00:00+03:00,13,2015-09-29T13:01:49+03:00,5138.0,44,15750.0,APPROVED
5,Y,2015-09-20T03:00:00+03:00,13,2015-09-13T12:31:57+03:00,3761.0,42,16275.0,APPROVED
6,Y,2015-09-16T03:00:00+03:00,13,2015-09-10T11:57:46+03:00,2195.0,34,54600.0,APPROVED
7,Y,2015-09-16T03:00:00+03:00,13,2015-09-10T11:50:03+03:00,3341.0,32,4200.0,APPROVED
8,Y,2015-09-16T03:00:00+03:00,13,2015-09-10T11:09:17+03:00,1349.0,30,66150.0,APPROVED
9,Y,2015-01-29T03:00:00+03:00,13,2015-01-23T13:28:34+03:00,1955.0,3,11550.0,APPROVED
10,Y,2015-09-09T03:00:00+03:00,13,2015-09-03T09:13:27+03:00,4792.0,26,5250.0,APPROVED
11,Y,2015-08-27T03:00:00+03:00,13,2015-08-21T08:04:15+03:00,4634.0,24,0.0,APPROVED
12,Y,2015-08-17T03:00:00+03:00,13,2015-08-11T13:08:56+03:00,3755.0,23,212600.0,APPROVED
13,Y,2015-02-10T03:00:00+03:00,13,2015-02-04T10:45:11+03:00,1985.0,9,0.0,APPROVED
14,Y,2015-03-30T03:00:00+03:00,13,2015-03-24T12:45:20+03:00,2195.0,17,63000.0,DECLAINED
15,Y,2015-03-22T03:00:00+03:00,13,2015-03-16T08:14:51+03:00,2155.0,13,29000.0,DECLAINED
16,Y,2015-08-17T03:00:00+03:00,13,2015-08-10T07:38:32+03:00,3861.0,21,13650.0,APPROVED
17,Y,2015-09-09T03:00:00+03:00,197,2015-09-09T13:14:51+03:00,4884.0,28,311200.0,APPROVED
18,Y,2015-11-10T03:00:00+03:00,775,2015-10-02T12:24:30+03:00,5182.0,48,4350.0,DECLAINED
19,Y,2015-09-17T03:00:00+03:00,775,2015-09-11T13:08:56+03:00,4652.0,40,30450.0,APPROVED
20,Y,2015-09-16T03:00:00+03:00,775,2015-09-10T15:04:18+03:00,4652.0,36,53500.0,DECLAINED
21,Y,2015-09-16T03:00:00+03:00,775,2015-09-10T15:06:19+03:00,4652.0,38,29000.0,DECLAINED
22,Y,2015-03-18T03:00:00+03:00,29661,2015-03-12T14:37:24+03:00,2293.0,11,0.0,DECLAINED
23,Y,2015-10-30T03:00:00+03:00,29671,2015-10-23T08:48:05+03:00,5718.0,64,48100.0,DECLAINED
24,Y,2015-10-16T03:00:00+03:00,29671,2015-10-12T07:53:06+03:00,4844.0,58,48499.0,DECLAINED
25,N,NaN,29671,2015-12-29T12:00:20+03:00,6502.0,78,0.0,DRAFT
26,Y,2015-10-07T03:00:00+03:00,29671,2015-10-07T13:31:52+03:00,4844.0,54,2900.0,APPROVED
27,Y,2015-10-18T03:00:00+03:00,29671,2015-10-04T12:22:07+03:00,4844.0,50,67600.0,DECLAINED
28,Y,2015-10-09T03:00:00+03:00,29671,2015-10-01T09:07:43+03:00,4844.0,46,59800.0,DECLAINED
29,Y,2015-10-21T03:00:00+03:00,29675,2015-10-21T12:21:04+03:00,5710.0,62,50700.0,APPROVED
30,Y,2015-11-27T03:00:00+03:00,29675,2015-10-14T09:37:38+03:00,5132.0,60,50700.0,DECLAINED
31,N,NaN,29747,2015-12-22T12:46:31+03:00,6506.0,72,796050.0,DRAFT
32,N,NaN,29747,2015-10-07T15:25:57+03:00,5238.0,56,10150.0,DRAFT
33,Y,2017-08-29T03:00:00+03:00,31166,2016-11-15T08:29:26+03:00,8846.0,92,26400.0,UNANSWERED
34,Y,2017-08-29T03:00:00+03:00,31168,2016-08-30T11:34:53+03:00,7794.0,84,28150.0,UNANSWERED
35,Y,2017-09-26T03:00:00+03:00,31228,2017-07-05T08:50:23+03:00,10660.0,106,10098.0,DECLAINED
36,Y,2017-09-26T03:00:00+03:00,31228,2017-07-05T08:34:55+03:00,10660.0,104,10098.0,DECLAINED
37,Y,2017-09-26T03:00:00+03:00,31238,2017-08-25T10:08:35+03:00,10366.0,112,169000.0,APPROVED
38,Y,2018-01-10T03:00:00+03:00,43208,2017-09-28T12:16:15+03:00,NaN,378,0.0,DECLAINED
39,N,NaN,44668,2017-08-07T08:49:58+03:00,10414.0,108,50000.0,DRAFT
40,Y,2017-11-22T03:00:00+03:00,44676,2017-10-01T21:26:42+03:00,11950.0,380,0.0,DECLAINED
41,Y,2017-11-22T03:00:00+03:00,44979,2017-11-02T14:18:30+03:00,12135.0,383,81000.0,DECLAINED