In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (10, 8)
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import collections
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
cmp_df = pd.read_csv('cmp.csv', sep=';')

In [3]:
cmp_df = cmp_df.drop_duplicates('ID')

In [4]:
cmp_df

,COMPANY_TYPE,EMPLOYEES,ID,INDUSTRY,REVENUE,TITLE
0,CUSTOMER,EMPLOYEES_1,3,IT,0.0,Коммаш
1,CUSTOMER,EMPLOYEES_2,5,GOVERNMENT,0.0,Управление делами Губернатора и Правительства ...
2,CUSTOMER,EMPLOYEES_2,13,IT,0.0,"ООО ""Интерсвязь-10"""
3,CUSTOMER,EMPLOYEES_1,43,IT,0.0,ООО «КСБ Групп»
4,3,EMPLOYEES_1,59,IT,0.0,ООО «1С-Битрикс»
5,CUSTOMER,EMPLOYEES_1,119,3,0.0,ИП Морозова Людмила Николаевна skikross.ru
6,1,EMPLOYEES_1,167,3,0.0,ООО «Дайвер»
7,CUSTOMER,EMPLOYEES_1,169,3,0.0,ООО «ЭМИР–НН»
8,CUSTOMER,EMPLOYEES_1,181,5,0.0,ИП Горшенин Артем Андреевич
9,CUSTOMER,EMPLOYEES_1,195,3,0.0,"ООО ""ОРИОН РТИ"""
10,PARTNER,NaN,197,IT,NaN,ООО «Артикул Продакшн»
11,CUSTOMER,EMPLOYEES_1,767,3,0.0,ООО «ФОРТЕ ЛТД»
12,2,EMPLOYEES_1,771,3,0.0,ООО ТК «Инструмент-Импорт»
13,CUSTOMER,EMPLOYEES_1,775,3,0.0,ИП Коцюба Дмитрий Сергеевич
14,CUSTOMER,EMPLOYEES_1,783,5,0.0,ИП Мироновский Сергей Николаевич
15,CUSTOMER,EMPLOYEES_1,803,3,0.0,ООО «УГМК-Телеком»
16,CUSTOMER,EMPLOYEES_1,813,3,0.0,ООО «Интернет Технологии»
17,CUSTOMER,EMPLOYEES_1,823,3,0.0,ООО «Экспо-Линк»
18,CUSTOMER,NaN,825,3,0.0,"ООО ""Яна Флауэрс"""
19,CUSTOMER,EMPLOYEES_1,5489,3,0.0,ООО «Пожкомплект»
20,CUSTOMER,EMPLOYEES_1,27647,3,0.0,ИП Нехаенко Олег Александрович
21,CUSTOMER,NaN,29623,3,NaN,ООО «Академия Почемучки»
22,CUSTOMER,EMPLOYEES_1,29627,3,0.0,ИП Якубова Наталья Анатольевна
23,CUSTOMER,EMPLOYEES_1,29637,3,0.0,ООО НПП «Учтех-Профи»
24,CUSTOMER,EMPLOYEES_1,29661,3,0.0,ООО «Фабрика кофе»
25,CUSTOMER,EMPLOYEES_1,29665,3,0.0,ИП Янкина Ирина Михайловна
26,2,EMPLOYEES_1,29669,3,0.0,"ООО ""Умница-Пресс"""
27,2,EMPLOYEES_1,29671,3,0.0,"ООО ""Игромаркет"""
28,OTHER,EMPLOYEES_1,29673,IT,0.0,"ООО ""Центр Автоматизации Учета"" (Первый БИТ)"
29,2,EMPLOYEES_1,29675,3,0.0,"ООО ""Энергия времени"""
...,...,...,...,...,...,...
163,CUSTOMER,NaN,45058,3,0.0,ПК Прайд
164,1,EMPLOYEES_1,45060,3,0.0,ИП Пискунов А.А.
165,CUSTOMER,EMPLOYEES_1,45062,3,0.0,ООО «Фирма Каскад»
166,CUSTOMER,NaN,45068,3,0.0,Центр Аттестации и экспертизы (ИП Темичев)
167,CUSTOMER,EMPLOYEES_1,45084,3,0.0,ООО “Князь Пюрешкин”
168,CUSTOMER,EMPLOYEES_1,45098,3,0.0,Автозакуп
169,CUSTOMER,EMPLOYEES_1,45100,3,0.0,УралСпецМаш (Миасс)
170,NaN,NaN,45112,NaN,NaN,Создаватель (тестовый заказ #5)
171,CUSTOMER,EMPLOYEES_1,45136,3,0.0,ООО НПЦ «РИЦ»
172,CUSTOMER,EMPLOYEES_1,45156,3,0.0,ООО Ева
173,CUSTOMER,EMPLOYEES_1,45172,3,0.0,ИП Кочкин В.В.
174,CUSTOMER,EMPLOYEES_1,45180,3,0.0,ЧелябЭкоПродукт
175,CUSTOMER,EMPLOYEES_1,45191,3,0.0,ГБУЗ «ССМП г. Коркино»
176,NaN,NaN,45267,NaN,NaN,Экозима
177,CUSTOMER,EMPLOYEES_1,45278,3,0.0,ИП Пак Виталий Владимирович
178,CUSTOMER,EMPLOYEES_1,45282,3,0.0,ИП Ершков А.А.
179,CUSTOMER,EMPLOYEES_1,45293,3,0.0,ИП Козлитин Геннадий Петрович
180,CUSTOMER,EMPLOYEES_1,45300,3,0.0,Центр базисных поставок
181,CUSTOMER,EMPLOYEES_1,45302,3,0.0,"Центр Технического Обслуживания ""СОФТ КАСС"""
182,CUSTOMER,EMPLOYEES_1,45304,3,0.0,Индивидуальный предприниматель Марченков Андре...
183,CUSTOMER,NaN,45316,3,0.0,"ООО ""Платинум"""
184,NaN,NaN,45322,NaN,NaN,ИП Модвал Любовь Васильевна
185,CUSTOMER,NaN,45326,3,0.0,ООО Терма
186,CUSTOMER,EMPLOYEES_1,45328,3,0.0,ИП Годжаева Ч.А.
187,CUSTOMER,EMPLOYEES_1,45342,3,0.0,ООО «МФК ТЕХЭНЕРГО»
188,CUSTOMER,NaN,45960,3,0.0,Азума
189,CUSTOMER,NaN,45972,3,0.0,ИП Колганов А.С.
190,CUSTOMER,NaN,45974,3,0.0,Студия камня (ИП Билан Ю.К.)
191,CUSTOMER,NaN,45982,3,0.0,Робин Бобин
192,CUSTOMER,EMPLOYEES_1,45986,3,0.0,"ООО ""НайсУан"""

________________________________________________________________________________________________________________________________

*Сделки*

________________________________________________________________________________________________________________________________

In [5]:
deal_df = pd.read_csv('deal.csv', sep=';')

In [6]:
deal_df

,BEGINDATE,CLOSED,CLOSEDATE,COMPANY_ID,ID,OPPORTUNITY,PROBABILITY
0,2013-04-09T03:00:00+04:00,Y,2013-04-14T03:00:00+04:00,3,7,1078.0,100.0
1,2015-03-31T03:00:00+03:00,Y,2015-05-23T03:00:00+03:00,3,2509,4350.0,0.0
2,2018-07-16T03:00:00+03:00,N,2018-08-01T03:00:00+03:00,3,14014,2000.0,NaN
3,2013-06-09T03:00:00+04:00,Y,2013-06-16T03:00:00+04:00,5,9,30000.0,80.0
4,2015-04-07T03:00:00+03:00,Y,2015-11-19T03:00:00+03:00,5,2565,89940.0,0.0
5,2015-09-07T03:00:00+03:00,Y,2018-02-13T03:00:00+03:00,5,4888,11600.0,0.0
6,2015-12-03T03:00:00+03:00,Y,2016-01-11T03:00:00+03:00,5,6414,168200.0,0.0
7,2016-06-03T03:00:00+03:00,Y,2016-11-15T03:00:00+03:00,5,7874,0.0,0.0
8,2016-12-06T03:00:00+03:00,Y,2018-02-13T03:00:00+03:00,5,7950,29000.0,0.0
9,2017-09-04T03:00:00+03:00,Y,2017-09-11T03:00:00+03:00,5,11976,40950.0,50.0
10,2018-05-28T03:00:00+03:00,Y,2018-06-04T03:00:00+03:00,5,13515,0.0,NaN
11,2013-10-15T03:00:00+04:00,Y,2013-10-22T03:00:00+04:00,13,53,273600.0,100.0
12,2013-10-28T03:00:00+04:00,Y,2013-11-04T03:00:00+04:00,13,101,78500.0,90.0
13,2014-04-09T03:00:00+04:00,Y,2015-11-26T03:00:00+03:00,13,663,30000.0,100.0
14,2014-06-19T03:00:00+04:00,Y,2014-06-26T03:00:00+04:00,13,995,50550.0,50.0
15,2014-06-19T03:00:00+04:00,Y,2014-06-26T03:00:00+04:00,13,997,56300.0,0.0
16,2014-08-18T03:00:00+04:00,Y,2014-08-25T03:00:00+04:00,13,1273,46550.0,0.0
17,2014-08-31T03:00:00+04:00,Y,2015-12-14T03:00:00+03:00,13,1349,82920.0,0.0
18,2013-10-15T03:00:00+04:00,Y,2013-10-22T03:00:00+04:00,13,1557,39900.0,100.0
19,2014-11-11T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,1689,7450.0,50.0
20,2014-12-18T03:00:00+03:00,Y,2016-10-07T03:00:00+03:00,13,1857,50000.0,0.0
21,2014-12-18T03:00:00+03:00,Y,2015-07-28T03:00:00+03:00,13,1859,40000.0,0.0
22,2015-01-14T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,1907,10500.0,0.0
23,2015-01-16T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,1955,11550.0,0.0
24,2015-01-19T03:00:00+03:00,Y,2015-06-01T03:00:00+03:00,13,1985,233575.0,0.0
25,2015-02-12T03:00:00+03:00,Y,2015-04-28T03:00:00+03:00,13,2155,29000.0,0.0
26,2015-02-19T03:00:00+03:00,Y,2015-12-21T03:00:00+03:00,13,2195,56700.0,100.0
27,2015-03-24T03:00:00+03:00,Y,2015-08-05T03:00:00+03:00,13,2439,50000.0,0.0
28,2015-01-14T03:00:00+03:00,Y,2015-08-05T03:00:00+03:00,13,2625,15750.0,0.0
29,2015-01-16T03:00:00+03:00,Y,2015-11-20T03:00:00+03:00,13,3341,4200.0,0.0
...,...,...,...,...,...,...,...
1207,2018-04-10T03:00:00+03:00,N,2018-08-15T03:00:00+03:00,45136,13062,104550.0,NaN
1208,2018-08-08T03:00:00+03:00,N,2018-08-20T03:00:00+03:00,45136,14077,24500.0,NaN
1209,2018-09-13T03:00:00+03:00,N,2018-10-11T03:00:00+03:00,45136,14147,6562.5,NaN
1210,2018-10-02T03:00:00+03:00,Y,2018-10-09T03:00:00+03:00,45136,14201,0.0,NaN
1211,2018-10-09T03:00:00+03:00,N,2018-10-22T03:00:00+03:00,45136,14216,5250.0,NaN
1212,2018-10-29T03:00:00+03:00,N,2018-11-05T03:00:00+03:00,45136,14256,0.0,NaN
1213,2018-04-20T03:00:00+03:00,Y,NaN,45172,13126,10000.0,NaN
1214,2018-06-15T03:00:00+03:00,N,2018-06-22T03:00:00+03:00,45180,13819,24900.0,NaN
1215,2018-05-18T03:00:00+03:00,Y,2018-05-25T03:00:00+03:00,45191,13339,0.0,NaN
1216,2018-06-14T03:00:00+03:00,Y,2018-06-21T03:00:00+03:00,45267,13809,7800.0,NaN
1217,2018-06-04T03:00:00+03:00,N,2018-07-09T03:00:00+03:00,45282,13708,24900.0,NaN
1218,2018-07-10T03:00:00+03:00,Y,2018-07-17T03:00:00+03:00,45282,13986,29250.0,NaN
1219,2018-06-27T03:00:00+03:00,Y,2018-07-04T03:00:00+03:00,45293,13898,0.0,NaN
1220,2018-08-02T03:00:00+03:00,Y,2018-08-09T03:00:00+03:00,45293,14062,0.0,NaN
1221,2018-07-05T03:00:00+03:00,N,2018-07-12T03:00:00+03:00,45300,13948,24900.0,NaN
1222,2018-08-06T03:00:00+03:00,N,2018-09-30T03:00:00+03:00,45300,14067,35000.0,NaN
1223,2018-07-05T03:00:00+03:00,N,2018-08-24T03:00:00+03:00,45300,14187,49800.0,NaN
1224,2018-07-11T03:00:00+03:00,N,NaN,45316,14004,102225.0,NaN
1225,2018-07-01T03:00:00+03:00,N,2018-07-31T03:00:00+03:00,45322,13912,30000.0,100.0
1226,2018-06-01T03:00:00+03:00,N,2018-11-01T03:00:00+03:00,45326,13665,48750.0,NaN
1227,2018-07-31T03:00:00+03:00,N,2018-10-10T03:00:00+03:00,45326,14050,24990.0,NaN
1228,2018-11-01T03:00:00+03:00,N,2018-11-30T03:00:00+03:00,45326,14199,73200.0,NaN
1229,2018-09-04T03:00:00+03:00,N,2018-09-11T03:00:00+03:00,45342,14136,31200.0,NaN
1230,2018-11-28T03:00:00+03:00,N,2018-12-05T03:00:00+03:00,45342,14335,0.0,NaN
1231,2018-10-09T03:00:00+03:00,N,2018-11-14T03:00:00+03:00,45960,14214,48750.0,NaN
1232,2018-11-22T03:00:00+03:00,N,2018-11-29T03:00:00+03:00,45960,14321,98975.0,NaN
1233,2018-10-16T03:00:00+03:00,N,NaN,45972,14230,77350.0,NaN
1234,2018-10-25T03:00:00+03:00,N,2018-11-12T03:00:00+03:00,45974,14246,24900.0,NaN
1235,2018-10-31T03:00:00+03:00,N,NaN,45982,14268,0.0,NaN
1236,2018-11-02T03:00:00+03:00,N,2018-11-09T03:00:00+03:00,45986,14282,5950.0,NaN

In [7]:
deal_df['CLOSED'] = deal_df['CLOSED'].apply(lambda x: 1 if(x == 'Y') else 0)

In [8]:
deal_df['BEGINDATE'] = pd.to_datetime(deal_df['BEGINDATE'])
deal_df['CLOSEDATE'] = pd.to_datetime(deal_df['CLOSEDATE'])

In [9]:
deal_df['TIME_DIFF_BEGIN_CLOSE'] = (deal_df['CLOSEDATE'] - deal_df['BEGINDATE']).astype('timedelta64[h]')/24

In [10]:
deal_df.head()

,BEGINDATE,CLOSED,CLOSEDATE,COMPANY_ID,ID,OPPORTUNITY,PROBABILITY,TIME_DIFF_BEGIN_CLOSE
0,2013-04-08 23:00:00,1,2013-04-13 23:00:00,3,7,1078.0,100.0,5.0
1,2015-03-31 00:00:00,1,2015-05-23 00:00:00,3,2509,4350.0,0.0,53.0
2,2018-07-16 00:00:00,0,2018-08-01 00:00:00,3,14014,2000.0,NaN,16.0
3,2013-06-08 23:00:00,1,2013-06-15 23:00:00,5,9,30000.0,80.0,7.0
4,2015-04-07 00:00:00,1,2015-11-19 00:00:00,5,2565,89940.0,0.0,226.0

In [11]:
deal_group = deal_df.groupby(by='COMPANY_ID')

In [12]:
deal_quantile01 = deal_group['OPPORTUNITY', 'PROBABILITY', 'TIME_DIFF_BEGIN_CLOSE'].quantile(0.1)

In [13]:
deal_quantile01.head()

0.1         OPPORTUNITY  PROBABILITY  TIME_DIFF_BEGIN_CLOSE
COMPANY_ID
3                1262.4         10.0                    7.2
5                   0.0          0.0                    7.0
13               3213.0          0.0                   11.0
43               5901.4          0.0                  163.9
59              11273.9          0.0                  120.8

In [14]:
deal_quantile09 = deal_group['OPPORTUNITY', 'PROBABILITY', 'TIME_DIFF_BEGIN_CLOSE'].quantile(0.9)

In [15]:
deal_quantile09.head()

0.9         OPPORTUNITY  PROBABILITY  TIME_DIFF_BEGIN_CLOSE
COMPANY_ID
3                3880.0         90.0                   45.6
5              113418.0         62.0                  570.8
13             231072.5        100.0                  722.1
43               7246.4          0.0                  809.0
59              21465.1          0.0                  159.2

In [16]:
deal_mean = deal_group['OPPORTUNITY', 'PROBABILITY', 'TIME_DIFF_BEGIN_CLOSE', 'CLOSED'].mean()

In [17]:
deal_mean.head()

             OPPORTUNITY  PROBABILITY  TIME_DIFF_BEGIN_CLOSE    CLOSED
COMPANY_ID
3            2476.000000    50.000000              24.666667  0.666667
5           46211.250000    18.571429             221.875000  1.000000
13          61099.525641    31.111111             301.373397  0.807692
43           6606.500000     0.000000             516.750000  1.000000
59          16369.500000     0.000000             140.000000  1.000000

In [18]:
deal_median = deal_group['OPPORTUNITY', 'TIME_DIFF_BEGIN_CLOSE'].median()

In [19]:
deal_median.head()

            OPPORTUNITY  TIME_DIFF_BEGIN_CLOSE
COMPANY_ID
3                2000.0                   16.0
5               29500.0                  102.0
13              25462.5                  211.0
43               6688.0                  592.5
59              16369.5                  140.0

In [20]:
deal_result = pd.merge(deal_quantile01, deal_quantile09, on='COMPANY_ID', suffixes=['_DEAL_Q01','_DEAL_Q09'])

In [21]:
deal_result.head()

,OPPORTUNITY_DEAL_Q01,PROBABILITY_DEAL_Q01,TIME_DIFF_BEGIN_CLOSE_DEAL_Q01,OPPORTUNITY_DEAL_Q09,PROBABILITY_DEAL_Q09,TIME_DIFF_BEGIN_CLOSE_DEAL_Q09
COMPANY_ID,,,,,,
3,1262.4,10.0,7.2,3880.0,90.0,45.6
5,0.0,0.0,7.0,113418.0,62.0,570.8
13,3213.0,0.0,11.0,231072.5,100.0,722.1
43,5901.4,0.0,163.9,7246.4,0.0,809.0
59,11273.9,0.0,120.8,21465.1,0.0,159.2

In [22]:
deal_result1 = pd.merge(deal_mean, deal_median, on='COMPANY_ID', suffixes=['_DEAL_MEAN','_DEAL_MEDIAN'])

In [23]:
deal_result1.head()

,OPPORTUNITY_DEAL_MEAN,PROBABILITY,TIME_DIFF_BEGIN_CLOSE_DEAL_MEAN,CLOSED,OPPORTUNITY_DEAL_MEDIAN,TIME_DIFF_BEGIN_CLOSE_DEAL_MEDIAN
COMPANY_ID,,,,,,
3,2476.000000,50.000000,24.666667,0.666667,2000.0,16.0
5,46211.250000,18.571429,221.875000,1.000000,29500.0,102.0
13,61099.525641,31.111111,301.373397,0.807692,25462.5,211.0
43,6606.500000,0.000000,516.750000,1.000000,6688.0,592.5
59,16369.500000,0.000000,140.000000,1.000000,16369.5,140.0

In [24]:
deal_result = pd.merge(deal_result, deal_result1, on='COMPANY_ID')

In [25]:
deal_result.head()

,OPPORTUNITY_DEAL_Q01,PROBABILITY_DEAL_Q01,TIME_DIFF_BEGIN_CLOSE_DEAL_Q01,OPPORTUNITY_DEAL_Q09,PROBABILITY_DEAL_Q09,TIME_DIFF_BEGIN_CLOSE_DEAL_Q09,OPPORTUNITY_DEAL_MEAN,PROBABILITY,TIME_DIFF_BEGIN_CLOSE_DEAL_MEAN,CLOSED,OPPORTUNITY_DEAL_MEDIAN,TIME_DIFF_BEGIN_CLOSE_DEAL_MEDIAN
COMPANY_ID,,,,,,,,,,,,
3,1262.4,10.0,7.2,3880.0,90.0,45.6,2476.000000,50.000000,24.666667,0.666667,2000.0,16.0
5,0.0,0.0,7.0,113418.0,62.0,570.8,46211.250000,18.571429,221.875000,1.000000,29500.0,102.0
13,3213.0,0.0,11.0,231072.5,100.0,722.1,61099.525641,31.111111,301.373397,0.807692,25462.5,211.0
43,5901.4,0.0,163.9,7246.4,0.0,809.0,6606.500000,0.000000,516.750000,1.000000,6688.0,592.5
59,11273.9,0.0,120.8,21465.1,0.0,159.2,16369.500000,0.000000,140.000000,1.000000,16369.5,140.0

--------------------------------------------------------------------------------------------------------------------------------

*СЧЕТА*

--------------------------------------------------------------------------------------------------------------------------------

In [26]:
inv_df = pd.read_csv('inv.csv', sep=';')

In [27]:
inv_df

,DATE_BILL,DATE_PAYED,DATE_PAY_BEFORE,PAYED,PRICE,STATUS_ID,UF_COMPANY_ID
0,2013-07-18T03:00:00+04:00,2016-10-18T07:26:24+03:00,NaN,N,38525.0,P,13
1,2013-08-21T03:00:00+04:00,2013-08-28T09:08:40+04:00,NaN,Y,3800.0,P,43
2,2013-09-16T03:00:00+04:00,NaN,NaN,N,50000.0,D,59
3,2013-07-18T03:00:00+04:00,2013-11-05T10:59:44+04:00,NaN,Y,38525.0,P,13
4,2013-07-18T03:00:00+04:00,2013-11-05T10:58:54+04:00,NaN,Y,74550.0,P,13
5,2013-10-27T03:00:00+04:00,2013-11-05T10:52:49+04:00,NaN,Y,19000.0,P,13
6,2013-10-27T03:00:00+04:00,2013-12-13T14:21:53+04:00,NaN,Y,59500.0,P,13
7,2013-11-07T03:00:00+04:00,2013-11-12T15:27:30+04:00,NaN,Y,3948.0,P,119
8,2013-11-17T03:00:00+04:00,2013-12-25T08:25:05+04:00,NaN,Y,74550.0,P,13
9,2013-11-17T03:00:00+04:00,2013-12-03T19:34:45+04:00,NaN,Y,44175.0,P,13
10,2013-12-03T03:00:00+04:00,2013-12-13T09:26:38+04:00,NaN,Y,4500.0,P,43
11,2013-12-12T03:00:00+04:00,2014-08-05T14:23:56+04:00,NaN,Y,44175.0,P,13
12,2013-12-12T03:00:00+04:00,2013-12-25T08:24:41+04:00,NaN,Y,80275.0,P,13
13,2013-12-16T03:00:00+04:00,2013-12-18T11:02:01+04:00,NaN,Y,28000.0,P,169
14,2014-01-13T03:00:00+04:00,2014-01-28T10:06:17+04:00,NaN,Y,875.0,P,119
15,2014-01-13T03:00:00+04:00,2014-01-28T10:06:36+04:00,NaN,Y,12350.0,P,181
16,2014-01-13T03:00:00+04:00,2014-01-28T10:06:43+04:00,NaN,Y,1050.0,P,181
17,2014-02-09T03:00:00+04:00,2014-02-12T10:00:22+04:00,NaN,Y,8500.0,P,181
18,2014-02-11T03:00:00+04:00,2014-02-13T08:20:24+04:00,NaN,Y,13900.0,P,195
19,2014-02-11T03:00:00+04:00,2014-02-13T08:19:46+04:00,NaN,Y,20550.0,P,195
20,2014-02-13T03:00:00+04:00,2014-03-04T11:19:14+04:00,NaN,Y,68000.0,P,197
21,2014-02-19T03:00:00+04:00,2014-02-21T15:48:02+04:00,NaN,Y,27900.0,P,767
22,2014-02-25T03:00:00+04:00,NaN,NaN,N,16000.0,D,169
23,2014-02-25T03:00:00+04:00,2014-08-05T14:29:55+04:00,NaN,Y,6138.0,P,169
24,2014-02-27T03:00:00+04:00,2014-04-01T09:35:59+04:00,NaN,Y,56900.0,P,775
25,2014-03-05T03:00:00+04:00,2014-03-07T09:34:59+04:00,NaN,Y,24750.0,P,195
26,2014-03-19T03:00:00+04:00,2014-03-25T13:45:30+04:00,NaN,Y,30400.0,P,13
27,2014-03-23T03:00:00+04:00,2014-03-25T13:45:24+04:00,NaN,Y,17565.0,P,783
28,2014-03-23T03:00:00+04:00,2014-03-25T13:45:19+04:00,NaN,Y,1050.0,P,783
29,2014-03-24T03:00:00+04:00,2014-03-26T14:01:48+04:00,NaN,Y,875.0,P,119
...,...,...,...,...,...,...,...
1521,2018-10-30T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,15600.0,N,45342
1522,2018-10-30T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,7800.0,N,29637
1523,2018-11-01T03:00:00+03:00,NaN,2018-11-14T03:00:00+03:00,N,17072.0,D,45293
1524,2018-11-02T03:00:00+03:00,NaN,2018-11-26T03:00:00+03:00,N,7800.0,D,35574
1525,2018-11-02T03:00:00+03:00,2018-11-07T08:24:16+03:00,2018-11-09T03:00:00+03:00,Y,5990.0,P,45282
1526,2018-11-02T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,16500.0,N,44676
1527,2018-11-06T03:00:00+03:00,2018-11-09T10:41:40+03:00,2018-11-07T03:00:00+03:00,Y,48000.0,P,13
1528,2018-11-08T03:00:00+03:00,2018-11-09T08:41:52+03:00,2018-11-08T03:00:00+03:00,Y,3900.0,P,29637
1529,2018-11-09T03:00:00+03:00,2018-11-15T17:00:37+03:00,2018-11-14T03:00:00+03:00,Y,60000.0,P,13
1530,2018-11-13T03:00:00+03:00,NaN,2018-11-30T03:00:00+03:00,N,11880.0,N,45033
1531,2018-11-13T03:00:00+03:00,2018-11-14T10:56:40+03:00,2018-11-16T03:00:00+03:00,Y,11880.0,P,45974
1532,2018-11-14T03:00:00+03:00,NaN,2018-11-16T03:00:00+03:00,N,4500.0,D,45024
1533,2018-11-14T03:00:00+03:00,2018-11-15T15:13:02+03:00,2018-11-15T03:00:00+03:00,Y,19125.0,P,45972
1534,2018-11-15T03:00:00+03:00,2018-11-15T15:13:20+03:00,2018-11-15T03:00:00+03:00,Y,19550.0,P,45972
1535,2018-11-16T03:00:00+03:00,2018-11-22T10:12:09+03:00,2018-11-19T03:00:00+03:00,Y,60000.0,P,13
1536,2018-11-18T03:00:00+03:00,2018-11-18T17:59:08+03:00,2018-11-15T03:00:00+03:00,Y,15000.0,P,30610
1537,2018-11-20T03:00:00+03:00,2018-11-30T12:21:43+03:00,2018-11-29T03:00:00+03:00,Y,5950.0,P,45986
1538,2018-11-23T03:00:00+03:00,2018-11-23T10:47:41+03:00,2018-11-23T03:00:00+03:00,Y,17940.0,P,45982
1539,2018-11-26T03:00:00+03:00,2018-11-27T09:20:02+03:00,2018-11-27T03:00:00+03:00,Y,1950.0,P,823
1540,2018-11-29T03:00:00+03:00,2018-11-30T09:57:28+03:00,2018-11-29T03:00:00+03:00,Y,119880.0,P,45960
1541,2018-11-27T03:00:00+03:00,2018-11-30T09:59:11+03:00,2018-11-29T03:00:00+03:00,Y,20000.0,P,45960
1542,2018-11-28T03:00:00+03:00,NaN,2018-12-20T03:00:00+03:00,N,7898.0,N,31206
1543,2018-11-30T03:00:00+03:00,NaN,2018-12-03T03:00:00+03:00,N,43500.0,N,13
1544,2018-12-03T03:00:00+03:00,NaN,NaN,N,7350.0,N,31174
1545,2018-12-03T03:00:00+03:00,NaN,2018-12-21T03:00:00+03:00,N,45675.0,N,13
1546,2018-10-05T03:00:00+03:00,NaN,2018-12-28T03:00:00+03:00,N,22800.0,N,31220
1547,2018-11-14T03:00:00+03:00,NaN,2018-12-11T03:00:00+03:00,N,19125.0,N,45972
1548,2018-11-15T03:00:00+03:00,NaN,2018-12-11T03:00:00+03:00,N,19550.0,N,45972
1549,2018-12-03T03:00:00+03:00,NaN,2018-12-20T03:00:00+03:00,N,78975.0,N,45960
1550,2018-12-03T03:00:00+03:00,NaN,2018-12-28T03:00:00+03:00,N,35000.0,N,30610

In [28]:
inv_df['DATE_BILL'] = pd.to_datetime(inv_df['DATE_BILL'])
inv_df['DATE_PAYED'] = pd.to_datetime(inv_df['DATE_PAYED'])
inv_df['DATE_PAY_BEFORE'] = pd.to_datetime(inv_df['DATE_PAY_BEFORE'])

In [29]:
inv_df['TIME_DIFF_PAYED_BILL'] = (inv_df['DATE_PAYED'] - inv_df['DATE_BILL']).astype('timedelta64[h]')/24
inv_df['TIME_DIFF_PAYBEF_PAYED'] = (inv_df['DATE_PAY_BEFORE'] - inv_df['DATE_PAYED']).astype('timedelta64[h]')/24

In [30]:
inv_df['PAYED'] = inv_df['PAYED'].apply(lambda x: 1 if(x == 'Y') else 0)

In [31]:
inv_df['STATUS_ID'].value_counts()

P    1312
D     217
N      19
T       3
Name: STATUS_ID, dtype: int64

In [32]:
inv_df['STATUS_ID_P'] = inv_df['STATUS_ID'].apply(lambda x: 1 if(x == 'P') else 0)
inv_df['STATUS_ID_D'] = inv_df['STATUS_ID'].apply(lambda x: 1 if(x == 'D') else 0)
inv_df['STATUS_ID_N'] = inv_df['STATUS_ID'].apply(lambda x: 1 if(x == 'N') else 0)
inv_df['STATUS_ID_T'] = inv_df['STATUS_ID'].apply(lambda x: 1 if(x == 'T') else 0)

In [33]:
inv_df.head()

,DATE_BILL,DATE_PAYED,DATE_PAY_BEFORE,PAYED,PRICE,STATUS_ID,UF_COMPANY_ID,TIME_DIFF_PAYED_BILL,TIME_DIFF_PAYBEF_PAYED,STATUS_ID_P,STATUS_ID_D,STATUS_ID_N,STATUS_ID_T
0,2013-07-17 23:00:00,2016-10-18 04:26:24,NaT,0,38525.0,P,13,1188.208333,NaN,1,0,0,0
1,2013-08-20 23:00:00,2013-08-28 05:08:40,NaT,1,3800.0,P,43,7.250000,NaN,1,0,0,0
2,2013-09-15 23:00:00,NaT,NaT,0,50000.0,D,59,NaN,NaN,0,1,0,0
3,2013-07-17 23:00:00,2013-11-05 06:59:44,NaT,1,38525.0,P,13,110.291667,NaN,1,0,0,0
4,2013-07-17 23:00:00,2013-11-05 06:58:54,NaT,1,74550.0,P,13,110.291667,NaN,1,0,0,0

In [34]:
 inv_group = inv_df.groupby(by='UF_COMPANY_ID')

In [35]:
inv_quantile01 = inv_group['PRICE', 'TIME_DIFF_PAYED_BILL', 'TIME_DIFF_PAYBEF_PAYED'].quantile(0.1)

In [36]:
inv_quantile01.head()

0.1               PRICE  TIME_DIFF_PAYED_BILL  TIME_DIFF_PAYBEF_PAYED
UF_COMPANY_ID
3               1350.40              2.433333               -0.687500
5              11600.00             42.900000                6.458333
13              4443.75              2.454167             -104.458333
43              4150.00              4.250000                     NaN
59             12746.60             20.666667                     NaN

In [37]:
inv_quantile09 = inv_group['PRICE', 'TIME_DIFF_PAYED_BILL', 'TIME_DIFF_PAYBEF_PAYED'].quantile(0.9)

In [38]:
inv_quantile09.head()

0.9              PRICE  TIME_DIFF_PAYED_BILL  TIME_DIFF_PAYBEF_PAYED
UF_COMPANY_ID
3               3880.0             36.000000                4.812500
5              25520.0             70.100000                6.458333
13             86137.5            119.254167                1.875000
43              7244.0             31.291667                     NaN
59             44746.6             20.666667                     NaN

In [39]:
inv_mean = inv_group['PRICE', 'TIME_DIFF_PAYED_BILL','TIME_DIFF_PAYBEF_PAYED', 'PAYED',
                       'STATUS_ID_P', 'STATUS_ID_D', 'STATUS_ID_N', 'STATUS_ID_T'].mean()

In [40]:
inv_mean.head()

,PRICE,TIME_DIFF_PAYED_BILL,TIME_DIFF_PAYBEF_PAYED,PAYED,STATUS_ID_P,STATUS_ID_D,STATUS_ID_N,STATUS_ID_T
UF_COMPANY_ID,,,,,,,,
3,2512.666667,17.736111,2.062500,1.000000,1.000000,0.000000,0.000000,0.0
5,17400.000000,56.500000,6.458333,0.666667,0.666667,0.333333,0.000000,0.0
13,33397.184932,56.829808,-30.074786,0.869863,0.890411,0.075342,0.034247,0.0
43,5787.666667,14.284722,NaN,1.000000,1.000000,0.000000,0.000000,0.0
59,27911.000000,20.666667,NaN,0.333333,0.333333,0.666667,0.000000,0.0

In [41]:
inv_median = inv_group['PRICE', 'TIME_DIFF_PAYED_BILL','TIME_DIFF_PAYBEF_PAYED'].median()

In [42]:
inv_median.head()

                 PRICE  TIME_DIFF_PAYED_BILL  TIME_DIFF_PAYBEF_PAYED
UF_COMPANY_ID
3               2000.0             10.333333                2.062500
5              11600.0             56.500000                6.458333
13             19950.0             21.708333               -2.291667
43              5969.0              7.312500                     NaN
59             23733.0             20.666667                     NaN

In [43]:
inv_result = pd.merge(inv_quantile01, inv_quantile09, on='UF_COMPANY_ID', suffixes=['_INV_Q01','_INV_Q09'])

In [44]:
inv_result.head()

,PRICE_INV_Q01,TIME_DIFF_PAYED_BILL_INV_Q01,TIME_DIFF_PAYBEF_PAYED_INV_Q01,PRICE_INV_Q09,TIME_DIFF_PAYED_BILL_INV_Q09,TIME_DIFF_PAYBEF_PAYED_INV_Q09
UF_COMPANY_ID,,,,,,
3,1350.40,2.433333,-0.687500,3880.0,36.000000,4.812500
5,11600.00,42.900000,6.458333,25520.0,70.100000,6.458333
13,4443.75,2.454167,-104.458333,86137.5,119.254167,1.875000
43,4150.00,4.250000,NaN,7244.0,31.291667,NaN
59,12746.60,20.666667,NaN,44746.6,20.666667,NaN

In [45]:
inv_result1 = pd.merge(inv_mean, inv_median, on='UF_COMPANY_ID', suffixes=['_INV_MEAN','_INV_MEDIAN'])

In [46]:
inv_result1.head()

,PRICE_INV_MEAN,TIME_DIFF_PAYED_BILL_INV_MEAN,TIME_DIFF_PAYBEF_PAYED_INV_MEAN,PAYED,STATUS_ID_P,STATUS_ID_D,STATUS_ID_N,STATUS_ID_T,PRICE_INV_MEDIAN,TIME_DIFF_PAYED_BILL_INV_MEDIAN,TIME_DIFF_PAYBEF_PAYED_INV_MEDIAN
UF_COMPANY_ID,,,,,,,,,,,
3,2512.666667,17.736111,2.062500,1.000000,1.000000,0.000000,0.000000,0.0,2000.0,10.333333,2.062500
5,17400.000000,56.500000,6.458333,0.666667,0.666667,0.333333,0.000000,0.0,11600.0,56.500000,6.458333
13,33397.184932,56.829808,-30.074786,0.869863,0.890411,0.075342,0.034247,0.0,19950.0,21.708333,-2.291667
43,5787.666667,14.284722,NaN,1.000000,1.000000,0.000000,0.000000,0.0,5969.0,7.312500,NaN
59,27911.000000,20.666667,NaN,0.333333,0.333333,0.666667,0.000000,0.0,23733.0,20.666667,NaN

In [47]:
inv_result = pd.merge(inv_result, inv_result1, on='UF_COMPANY_ID')

In [48]:
inv_result.head()

,PRICE_INV_Q01,TIME_DIFF_PAYED_BILL_INV_Q01,TIME_DIFF_PAYBEF_PAYED_INV_Q01,PRICE_INV_Q09,TIME_DIFF_PAYED_BILL_INV_Q09,TIME_DIFF_PAYBEF_PAYED_INV_Q09,PRICE_INV_MEAN,TIME_DIFF_PAYED_BILL_INV_MEAN,TIME_DIFF_PAYBEF_PAYED_INV_MEAN,PAYED,STATUS_ID_P,STATUS_ID_D,STATUS_ID_N,STATUS_ID_T,PRICE_INV_MEDIAN,TIME_DIFF_PAYED_BILL_INV_MEDIAN,TIME_DIFF_PAYBEF_PAYED_INV_MEDIAN
UF_COMPANY_ID,,,,,,,,,,,,,,,,,
3,1350.40,2.433333,-0.687500,3880.0,36.000000,4.812500,2512.666667,17.736111,2.062500,1.000000,1.000000,0.000000,0.000000,0.0,2000.0,10.333333,2.062500
5,11600.00,42.900000,6.458333,25520.0,70.100000,6.458333,17400.000000,56.500000,6.458333,0.666667,0.666667,0.333333,0.000000,0.0,11600.0,56.500000,6.458333
13,4443.75,2.454167,-104.458333,86137.5,119.254167,1.875000,33397.184932,56.829808,-30.074786,0.869863,0.890411,0.075342,0.034247,0.0,19950.0,21.708333,-2.291667
43,4150.00,4.250000,NaN,7244.0,31.291667,NaN,5787.666667,14.284722,NaN,1.000000,1.000000,0.000000,0.000000,0.0,5969.0,7.312500,NaN
59,12746.60,20.666667,NaN,44746.6,20.666667,NaN,27911.000000,20.666667,NaN,0.333333,0.333333,0.666667,0.000000,0.0,23733.0,20.666667,NaN

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

In [49]:
quote_df = pd.read_csv('quote.csv', sep=';')

In [50]:
quote_df

,CLOSED,CLOSEDATE,COMPANY_ID,DATE_CREATE,DEAL_ID,ID,OPPORTUNITY,STATUS_ID
0,N,NaN,13,2015-12-29T08:41:00+03:00,6480.0,76,0.0,DRAFT
1,N,NaN,13,2015-12-28T13:44:18+03:00,6498.0,74,27300.0,DRAFT
2,N,2015-12-04T03:00:00+03:00,13,2015-12-01T12:08:02+03:00,5968.0,70,18900.0,RECEIVED
3,Y,2015-10-09T03:00:00+03:00,13,2015-10-06T11:00:05+03:00,5138.0,52,18900.0,DECLAINED
4,Y,2015-10-02T03:00:00+03:00,13,2015-09-29T13:01:49+03:00,5138.0,44,15750.0,APPROVED
5,Y,2015-09-20T03:00:00+03:00,13,2015-09-13T12:31:57+03:00,3761.0,42,16275.0,APPROVED
6,Y,2015-09-16T03:00:00+03:00,13,2015-09-10T11:57:46+03:00,2195.0,34,54600.0,APPROVED
7,Y,2015-09-16T03:00:00+03:00,13,2015-09-10T11:50:03+03:00,3341.0,32,4200.0,APPROVED
8,Y,2015-09-16T03:00:00+03:00,13,2015-09-10T11:09:17+03:00,1349.0,30,66150.0,APPROVED
9,Y,2015-01-29T03:00:00+03:00,13,2015-01-23T13:28:34+03:00,1955.0,3,11550.0,APPROVED
10,Y,2015-09-09T03:00:00+03:00,13,2015-09-03T09:13:27+03:00,4792.0,26,5250.0,APPROVED
11,Y,2015-08-27T03:00:00+03:00,13,2015-08-21T08:04:15+03:00,4634.0,24,0.0,APPROVED
12,Y,2015-08-17T03:00:00+03:00,13,2015-08-11T13:08:56+03:00,3755.0,23,212600.0,APPROVED
13,Y,2015-02-10T03:00:00+03:00,13,2015-02-04T10:45:11+03:00,1985.0,9,0.0,APPROVED
14,Y,2015-03-30T03:00:00+03:00,13,2015-03-24T12:45:20+03:00,2195.0,17,63000.0,DECLAINED
15,Y,2015-03-22T03:00:00+03:00,13,2015-03-16T08:14:51+03:00,2155.0,13,29000.0,DECLAINED
16,Y,2015-08-17T03:00:00+03:00,13,2015-08-10T07:38:32+03:00,3861.0,21,13650.0,APPROVED
17,Y,2015-09-09T03:00:00+03:00,197,2015-09-09T13:14:51+03:00,4884.0,28,311200.0,APPROVED
18,Y,2015-11-10T03:00:00+03:00,775,2015-10-02T12:24:30+03:00,5182.0,48,4350.0,DECLAINED
19,Y,2015-09-17T03:00:00+03:00,775,2015-09-11T13:08:56+03:00,4652.0,40,30450.0,APPROVED
20,Y,2015-09-16T03:00:00+03:00,775,2015-09-10T15:04:18+03:00,4652.0,36,53500.0,DECLAINED
21,Y,2015-09-16T03:00:00+03:00,775,2015-09-10T15:06:19+03:00,4652.0,38,29000.0,DECLAINED
22,Y,2015-03-18T03:00:00+03:00,29661,2015-03-12T14:37:24+03:00,2293.0,11,0.0,DECLAINED
23,Y,2015-10-30T03:00:00+03:00,29671,2015-10-23T08:48:05+03:00,5718.0,64,48100.0,DECLAINED
24,Y,2015-10-16T03:00:00+03:00,29671,2015-10-12T07:53:06+03:00,4844.0,58,48499.0,DECLAINED
25,N,NaN,29671,2015-12-29T12:00:20+03:00,6502.0,78,0.0,DRAFT
26,Y,2015-10-07T03:00:00+03:00,29671,2015-10-07T13:31:52+03:00,4844.0,54,2900.0,APPROVED
27,Y,2015-10-18T03:00:00+03:00,29671,2015-10-04T12:22:07+03:00,4844.0,50,67600.0,DECLAINED
28,Y,2015-10-09T03:00:00+03:00,29671,2015-10-01T09:07:43+03:00,4844.0,46,59800.0,DECLAINED
29,Y,2015-10-21T03:00:00+03:00,29675,2015-10-21T12:21:04+03:00,5710.0,62,50700.0,APPROVED
30,Y,2015-11-27T03:00:00+03:00,29675,2015-10-14T09:37:38+03:00,5132.0,60,50700.0,DECLAINED
31,N,NaN,29747,2015-12-22T12:46:31+03:00,6506.0,72,796050.0,DRAFT
32,N,NaN,29747,2015-10-07T15:25:57+03:00,5238.0,56,10150.0,DRAFT
33,Y,2017-08-29T03:00:00+03:00,31166,2016-11-15T08:29:26+03:00,8846.0,92,26400.0,UNANSWERED
34,Y,2017-08-29T03:00:00+03:00,31168,2016-08-30T11:34:53+03:00,7794.0,84,28150.0,UNANSWERED
35,Y,2017-09-26T03:00:00+03:00,31228,2017-07-05T08:50:23+03:00,10660.0,106,10098.0,DECLAINED
36,Y,2017-09-26T03:00:00+03:00,31228,2017-07-05T08:34:55+03:00,10660.0,104,10098.0,DECLAINED
37,Y,2017-09-26T03:00:00+03:00,31238,2017-08-25T10:08:35+03:00,10366.0,112,169000.0,APPROVED
38,Y,2018-01-10T03:00:00+03:00,43208,2017-09-28T12:16:15+03:00,NaN,378,0.0,DECLAINED
39,N,NaN,44668,2017-08-07T08:49:58+03:00,10414.0,108,50000.0,DRAFT
40,Y,2017-11-22T03:00:00+03:00,44676,2017-10-01T21:26:42+03:00,11950.0,380,0.0,DECLAINED
41,Y,2017-11-22T03:00:00+03:00,44979,2017-11-02T14:18:30+03:00,12135.0,383,81000.0,DECLAINED

In [51]:
quote_df['CLOSEDATE'] = pd.to_datetime(quote_df['CLOSEDATE'])
quote_df['DATE_CREATE'] = pd.to_datetime(quote_df['DATE_CREATE'])

In [52]:
quote_df['TIME_DIFF_CREATE_CLOSE'] = (quote_df['CLOSEDATE'] - quote_df['DATE_CREATE']).astype('timedelta64[h]')/24

In [53]:
quote_df['CLOSED'] = quote_df['CLOSED'].apply(lambda x: 1 if(x == 'Y') else 0)

In [54]:
quote_df['STATUS_ID'].value_counts()

DECLAINED     17
APPROVED      16
DRAFT          6
UNANSWERED     2
RECEIVED       1
Name: STATUS_ID, dtype: int64

In [55]:
quote_df['STATUS_ID_DEC'] = quote_df['STATUS_ID'].apply(lambda x: 1 if(x == 'DECLAINED') else 0)
quote_df['STATUS_ID_APP'] = quote_df['STATUS_ID'].apply(lambda x: 1 if(x == 'APPROVED') else 0)
quote_df['STATUS_ID_DRA'] = quote_df['STATUS_ID'].apply(lambda x: 1 if(x == 'DRAFT') else 0)
quote_df['STATUS_ID_UNA'] = quote_df['STATUS_ID'].apply(lambda x: 1 if(x == 'UNANSWERED') else 0)
quote_df['STATUS_ID_REC'] = quote_df['STATUS_ID'].apply(lambda x: 1 if(x == 'RECEIVED') else 0)

In [56]:
quote_df.head()

,CLOSED,CLOSEDATE,COMPANY_ID,DATE_CREATE,DEAL_ID,ID,OPPORTUNITY,STATUS_ID,TIME_DIFF_CREATE_CLOSE,STATUS_ID_DEC,STATUS_ID_APP,STATUS_ID_DRA,STATUS_ID_UNA,STATUS_ID_REC
0,0,NaT,13,2015-12-29 05:41:00,6480.0,76,0.0,DRAFT,NaN,0,0,1,0,0
1,0,NaT,13,2015-12-28 10:44:18,6498.0,74,27300.0,DRAFT,NaN,0,0,1,0,0
2,0,2015-12-04,13,2015-12-01 09:08:02,5968.0,70,18900.0,RECEIVED,2.583333,0,0,0,0,1
3,1,2015-10-09,13,2015-10-06 08:00:05,5138.0,52,18900.0,DECLAINED,2.625000,1,0,0,0,0
4,1,2015-10-02,13,2015-09-29 10:01:49,5138.0,44,15750.0,APPROVED,2.541667,0,1,0,0,0

In [57]:
quote_group = quote_df.groupby(by='COMPANY_ID')

In [58]:
qoute_quantile01 = quote_group['OPPORTUNITY', 'TIME_DIFF_CREATE_CLOSE'].quantile(0.1)

In [59]:
qoute_quantile01.head()

0.1         OPPORTUNITY  TIME_DIFF_CREATE_CLOSE
COMPANY_ID
13                  0.0                2.600000
197            311200.0               -0.458333
775             11745.0                5.458333
29661               0.0                5.500000
29671            1450.0                1.241667

In [60]:
qoute_quantile09 = quote_group['OPPORTUNITY', 'TIME_DIFF_CREATE_CLOSE'].quantile(0.9)

In [61]:
qoute_quantile09.head()

0.9         OPPORTUNITY  TIME_DIFF_CREATE_CLOSE
COMPANY_ID
13              64260.0                6.250000
197            311200.0               -0.458333
775             46585.0               28.670833
29661               0.0                5.500000
29671           63700.0               11.233333

In [62]:
qoute_mean = quote_group['CLOSED', 'OPPORTUNITY', 'TIME_DIFF_CREATE_CLOSE', 'STATUS_ID_DEC', 'STATUS_ID_APP',
                       'STATUS_ID_DRA', 'STATUS_ID_UNA', 'STATUS_ID_REC'].mean()

In [63]:
qoute_mean.head()

,CLOSED,OPPORTUNITY,TIME_DIFF_CREATE_CLOSE,STATUS_ID_DEC,STATUS_ID_APP,STATUS_ID_DRA,STATUS_ID_UNA,STATUS_ID_REC
COMPANY_ID,,,,,,,,
13,0.823529,32772.058824,5.169444,0.176471,0.647059,0.117647,0.0,0.058824
197,1.000000,311200.000000,-0.458333,0.000000,1.000000,0.000000,0.0,0.000000
775,1.000000,29325.000000,13.760417,0.750000,0.250000,0.000000,0.0,0.000000
29661,1.000000,0.000000,5.500000,1.000000,0.000000,0.000000,0.0,0.000000
29671,0.833333,37816.500000,6.275000,0.666667,0.166667,0.166667,0.0,0.000000

In [64]:
qoute_median = quote_group['OPPORTUNITY', 'TIME_DIFF_CREATE_CLOSE'].median()

In [65]:
qoute_median.head()

            OPPORTUNITY  TIME_DIFF_CREATE_CLOSE
COMPANY_ID
13              16275.0                5.625000
197            311200.0               -0.458333
775             29725.0                5.500000
29661               0.0                5.500000
29671           48299.5                6.750000

In [66]:
quo_result = pd.merge(qoute_quantile01, qoute_quantile09, on='COMPANY_ID', suffixes=['_QUO_Q01','_QUO_Q09'])

In [67]:
quo_result.head()

,OPPORTUNITY_QUO_Q01,TIME_DIFF_CREATE_CLOSE_QUO_Q01,OPPORTUNITY_QUO_Q09,TIME_DIFF_CREATE_CLOSE_QUO_Q09
COMPANY_ID,,,,
13,0.0,2.600000,64260.0,6.250000
197,311200.0,-0.458333,311200.0,-0.458333
775,11745.0,5.458333,46585.0,28.670833
29661,0.0,5.500000,0.0,5.500000
29671,1450.0,1.241667,63700.0,11.233333

In [68]:
quo_result1 = pd.merge(qoute_mean, qoute_median, on='COMPANY_ID', suffixes=['_QUO_MEAN','_QUO_MEDIAN'])

In [69]:
quo_result1.head()

,CLOSED,OPPORTUNITY_QUO_MEAN,TIME_DIFF_CREATE_CLOSE_QUO_MEAN,STATUS_ID_DEC,STATUS_ID_APP,STATUS_ID_DRA,STATUS_ID_UNA,STATUS_ID_REC,OPPORTUNITY_QUO_MEDIAN,TIME_DIFF_CREATE_CLOSE_QUO_MEDIAN
COMPANY_ID,,,,,,,,,,
13,0.823529,32772.058824,5.169444,0.176471,0.647059,0.117647,0.0,0.058824,16275.0,5.625000
197,1.000000,311200.000000,-0.458333,0.000000,1.000000,0.000000,0.0,0.000000,311200.0,-0.458333
775,1.000000,29325.000000,13.760417,0.750000,0.250000,0.000000,0.0,0.000000,29725.0,5.500000
29661,1.000000,0.000000,5.500000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,5.500000
29671,0.833333,37816.500000,6.275000,0.666667,0.166667,0.166667,0.0,0.000000,48299.5,6.750000

In [70]:
quo_result = pd.merge(quo_result, quo_result1, on='COMPANY_ID')

In [71]:
quo_result.head()

,OPPORTUNITY_QUO_Q01,TIME_DIFF_CREATE_CLOSE_QUO_Q01,OPPORTUNITY_QUO_Q09,TIME_DIFF_CREATE_CLOSE_QUO_Q09,CLOSED,OPPORTUNITY_QUO_MEAN,TIME_DIFF_CREATE_CLOSE_QUO_MEAN,STATUS_ID_DEC,STATUS_ID_APP,STATUS_ID_DRA,STATUS_ID_UNA,STATUS_ID_REC,OPPORTUNITY_QUO_MEDIAN,TIME_DIFF_CREATE_CLOSE_QUO_MEDIAN
COMPANY_ID,,,,,,,,,,,,,,
13,0.0,2.600000,64260.0,6.250000,0.823529,32772.058824,5.169444,0.176471,0.647059,0.117647,0.0,0.058824,16275.0,5.625000
197,311200.0,-0.458333,311200.0,-0.458333,1.000000,311200.000000,-0.458333,0.000000,1.000000,0.000000,0.0,0.000000,311200.0,-0.458333
775,11745.0,5.458333,46585.0,28.670833,1.000000,29325.000000,13.760417,0.750000,0.250000,0.000000,0.0,0.000000,29725.0,5.500000
29661,0.0,5.500000,0.0,5.500000,1.000000,0.000000,5.500000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,5.500000
29671,1450.0,1.241667,63700.0,11.233333,0.833333,37816.500000,6.275000,0.666667,0.166667,0.166667,0.0,0.000000,48299.5,6.750000

--------------------------------------------------------------------------------------------------------------------------------

In [72]:
result = pd.merge(cmp_df, deal_result, left_on='ID', right_on='COMPANY_ID', suffixes=('CMP', 'DEALS'), how='outer')

In [73]:
result = pd.merge(result, inv_result, left_on='ID', right_on='UF_COMPANY_ID', suffixes=('', 'INV'), how='outer')

In [74]:
result = pd.merge(result, quo_result, left_on='ID', right_on='COMPANY_ID', suffixes=('', 'QUO'), how='outer')

In [75]:
result

,COMPANY_TYPE,EMPLOYEES,ID,INDUSTRY,REVENUE,TITLE,OPPORTUNITY_DEAL_Q01,PROBABILITY_DEAL_Q01,TIME_DIFF_BEGIN_CLOSE_DEAL_Q01,OPPORTUNITY_DEAL_Q09,...,CLOSEDQUO,OPPORTUNITY_QUO_MEAN,TIME_DIFF_CREATE_CLOSE_QUO_MEAN,STATUS_ID_DEC,STATUS_ID_APP,STATUS_ID_DRA,STATUS_ID_UNA,STATUS_ID_REC,OPPORTUNITY_QUO_MEDIAN,TIME_DIFF_CREATE_CLOSE_QUO_MEDIAN
0,CUSTOMER,EMPLOYEES_1,3,IT,0.0,Коммаш,1262.4,10.0,7.200000,3880.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUSTOMER,EMPLOYEES_2,5,GOVERNMENT,0.0,Управление делами Губернатора и Правительства ...,0.0,0.0,7.000000,113418.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CUSTOMER,EMPLOYEES_2,13,IT,0.0,"ООО ""Интерсвязь-10""",3213.0,0.0,11.000000,231072.500,...,0.823529,32772.058824,5.169444,0.176471,0.647059,0.117647,0.0,0.058824,16275.0,5.625000
3,CUSTOMER,EMPLOYEES_1,43,IT,0.0,ООО «КСБ Групп»,5901.4,0.0,163.900000,7246.400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,EMPLOYEES_1,59,IT,0.0,ООО «1С-Битрикс»,11273.9,0.0,120.800000,21465.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CUSTOMER,EMPLOYEES_1,119,3,0.0,ИП Морозова Людмила Николаевна skikross.ru,2728.0,0.0,6.000000,16350.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,EMPLOYEES_1,167,3,0.0,ООО «Дайвер»,0.0,0.0,7.000000,3682.800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CUSTOMER,EMPLOYEES_1,169,3,0.0,ООО «ЭМИР–НН»,17440.0,10.0,7.000000,32968.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CUSTOMER,EMPLOYEES_1,181,5,0.0,ИП Горшенин Артем Андреевич,1078.0,0.0,7.000000,21583.600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CUSTOMER,EMPLOYEES_1,195,3,0.0,"ООО ""ОРИОН РТИ""",1078.0,0.0,7.000000,5970.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,PARTNER,NaN,197,IT,NaN,ООО «Артикул Продакшн»,48590.0,10.0,87.200000,367710.000,...,1.000000,311200.000000,-0.458333,0.000000,1.000000,0.000000,0.0,0.000000,311200.0,-0.458333
11,CUSTOMER,EMPLOYEES_1,767,3,0.0,ООО «ФОРТЕ ЛТД»,1078.0,0.0,7.000000,21400.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2,EMPLOYEES_1,771,3,0.0,ООО ТК «Инструмент-Импорт»,3300.0,0.0,7.000000,13194.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CUSTOMER,EMPLOYEES_1,775,3,0.0,ИП Коцюба Дмитрий Сергеевич,5370.0,0.0,7.000000,68295.000,...,1.000000,29325.000000,13.760417,0.750000,0.250000,0.000000,0.0,0.000000,29725.0,5.500000
14,CUSTOMER,EMPLOYEES_1,783,5,0.0,ИП Мироновский Сергей Николаевич,356.4,0.0,6.300000,26899.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,CUSTOMER,EMPLOYEES_1,803,3,0.0,ООО «УГМК-Телеком»,21300.0,0.0,367.408333,266640.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,CUSTOMER,EMPLOYEES_1,813,3,0.0,ООО «Интернет Технологии»,900.0,0.0,7.000000,148698.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CUSTOMER,EMPLOYEES_1,823,3,0.0,ООО «Экспо-Линк»,2841.0,0.0,7.000000,19630.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,CUSTOMER,NaN,825,3,0.0,"ООО ""Яна Флауэрс""",1039.0,0.0,20.500000,37450.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,CUSTOMER,EMPLOYEES_1,5489,3,0.0,ООО «Пожкомплект»,0.0,0.0,6.200000,10098.400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,CUSTOMER,EMPLOYEES_1,27647,3,0.0,ИП Нехаенко Олег Александрович,672.0,0.0,8.600000,19978.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,CUSTOMER,NaN,29623,3,NaN,ООО «Академия Почемучки»,1320.0,10.0,7.000000,2720.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,CUSTOMER,EMPLOYEES_1,29627,3,0.0,ИП Якубова Наталья Анатольевна,1170.0,0.0,8.800000,12910.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CUSTOMER,EMPLOYEES_1,29637,3,0.0,ООО НПП «Учтех-Профи»,0.0,0.0,7.000000,34730.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,CUSTOMER,EMPLOYEES_1,29661,3,0.0,ООО «Фабрика кофе»,0.8,0.0,9.400000,43810.000,...,1.000000,0.000000,5.500000,1.000000,0.000000,0.000000,0.0,0.000000,0.0,5.500000
25,CUSTOMER,EMPLOYEES_1,29665,3,0.0,ИП Янкина Ирина Михайловна,682.5,0.0,7.700000,59561.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2,EMPLOYEES_1,29669,3,0.0,"ООО ""Умница-Пресс""",3885.0,0.0,35.800000,31500.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2,EMPLOYEES_1,29671,3,0.0,"ООО ""Игромаркет""",650.0,0.0,33.800000,30000.000,...,0.833333,37816.500000,6.275000,0.666667,0.166667,0.166667,0.0,0.000000,48299.5,6.750000
28,OTHER,EMPLOYEES_1,29673,IT,0.0,"ООО ""Центр Автоматизации Учета"" (Первый БИТ)",0.0,0.0,6.100000,51910.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2,EMPLOYEES_1,29675,3,0.0,"ООО ""Энергия времени""",1300.0,0.0,18.100000,10080.000,...,1.000000,50700.000000,21.645833,0.500000,0.500000,0.000000,0.0,0.000000,50700.0,21.645833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,CUSTOMER,NaN,45058,3,0.0,ПК Прайд,36000.0,NaN,7.000000,36000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,1,EMPLOYEES_1,45060,3,0.0,ИП Пискунов А.А.,7590.0,0.0,14.800000,213300.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,CUSTOMER,EMPLOYEES_1,45062,3,0.0,ООО «Фирма Каскад»,3520.0,NaN,3.800000,27840.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,CUSTOMER,NaN,45068,3,0.0,Центр Аттестации и экспертизы (ИП Темичев),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,CUSTOMER,EMPLOYEES_1,45084,3,0.0,ООО “Князь Пюрешкин”,9900.0,NaN,11.400000,50940.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,CUSTOMER,EMPLOYEES_1,45098,3,0.0,Автозакуп,12000.0,NaN,4.600000,36000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,CUSTOMER,EMPLOYEES_1,45100,3,0.0,УралСпецМаш (Миасс),500.0,NaN,7.000000,31150.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,45112,NaN,NaN,Создаватель (тестовый заказ #5),17151.3,NaN,NaN,27137.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,CUSTOMER,EMPLOYEES_1,45136,3,0.0,ООО НПЦ «РИЦ»,0.0,NaN,7.000000,64525.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,CUSTOMER,EMPLOYEES_1,45156,3,0.0,ООО Ева,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,CUSTOMER,EMPLOYEES_1,45172,3,0.0,ИП Кочкин В.В.,10000.0,NaN,NaN,10000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,CUSTOMER,EMPLOYEES_1,45180,3,0.0,ЧелябЭкоПродукт,24900.0,NaN,7.000000,24900.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,CUSTOMER,EMPLOYEES_1,45191,3,0.0,ГБУЗ «ССМП г. Коркино»,0.0,NaN,7.000000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,45267,NaN,NaN,Экозима,7800.0,NaN,7.000000,7800.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,CUSTOMER,EMPLOYEES_1,45278,3,0.0,ИП Пак Виталий Владимирович,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,CUSTOMER,EMPLOYEES_1,45282,3,0.0,ИП Ершков А.А.,25335.0,NaN,9.800000,28815.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,CUSTOMER,EMPLOYEES_1,45293,3,0.0,ИП Козлитин Геннадий Петрович,0.0,NaN,7.000000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,CUSTOMER,EMPLOYEES_1,45300,3,0.0,Центр базисных поставок,26920.0,NaN,15.600000,46840.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,CUSTOMER,EMPLOYEES_1,45302,3,0.0,"Центр Технического Обслуживания ""СОФТ КАСС""",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,CUSTOMER,EMPLOYEES_1,45304,3,0.0,Индивидуальный предприниматель Марченков Андре...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,CUSTOMER,NaN,45316,3,0.0,"ООО ""Платинум""",102225.0,NaN,NaN,102225.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,45322,NaN,NaN,ИП Модвал Любовь Васильевна,30000.0,100.0,30.000000,30000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,CUSTOMER,NaN,45326,3,0.0,ООО Терма,29742.0,NaN,37.400000,68310.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,CUSTOMER,EMPLOYEES_1,45328,3,0.0,ИП Годжаева Ч.А.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,CUSTOMER,EMPLOYEES_1,45342,3,0.0,ООО «МФК ТЕХЭНЕРГО»,3120.0,NaN,7.000000,28080.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,CUSTOMER,NaN,45960,3,0.0,Азума,53772.5,NaN,9.900000,93952.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,CUSTOMER,NaN,45972,3,0.0,ИП Колганов А.С.,77350.0,NaN,NaN,77350.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,CUSTOMER,NaN,45974,3,0.0,Студия камня (ИП Билан Ю.К.),24900.0,NaN,18.000000,24900.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,CUSTOMER,NaN,45982,3,0.0,Робин Бобин,0.0,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,CUSTOMER,EMPLOYEES_1,45986,3,0.0,"ООО ""НайсУан""",5950.0,NaN,7.000000,5950.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN